<% if user_signed_in? %>
  <div class="index-content"><h1>Hi <%= current_user.email %></h1></div>
<% else %>

<div class="header-element">
	<h1>Are you ready to meet your Soulmate? Signup today and find out!</h1>
</div>
<%= render "shared/signup" %>
<% end %>


